html {
  overflow: hidden;
  max-height:100vh;
  background-color: lightskyblue
}

.panoramic-map-container {
  width: 100%;
  height: 53vh;
  background-size: 100% 100%;
}

.area {
  background: transparent;
  opacity: 0.3;
  display:block;
  position: absolute;
}

a.area:hover{background:gray;}

.info-and-location{
  display:flex;
  width: 100%;
  height: 100vh;
}

.info-section {
  background-color: lightskyblue;
  width: 50vw;
}

.info-section-content {
  display: flex;
  margin: 0px 5px 5px 5px;
  justify-content:center
}

.info-section-content-text {
  justify-content:center;
  width:60%;
}

.info-section-content img {
  display: flex;
  height:30vh;
  margin-left: 20px;
}

.info-section h1 {
  align-self: center;
  margin-left: 15px;
}

table {
  background: #fff;
  border-collapse: collapse;
  margin-bottom: 5px;
}

td {
  font-family: Tahoma;
  background: #ddd;
  border:1px solid #fff
}

.info-section-content-text h5 {
  margin: 5px;
}

.info-section-content-text p {
  font-size: small;
  margin: 5px;
}















.location-section {
  background-color: lightskyblue;
  width: 50vw;
}

